{% extends 'base.html' %}
{$ load static %}
{% block meta %}
    <title>Add Kegiatan</title>
{% endblock meta %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <form class="form-control" action="#" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-outline-success btn-block">Add</button>
        </form>
    </div>
</div>
    
    
{% endblock content %}
