{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan</title>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
  {% for x in kegiatan %}
  <table class="table table-borderless text-center">
    <tr>
      <th>Kegiatan</th>
    </tr>
    <tr>
      <td>{{x.nama_kegiatan}}</td>
    </tr> 
    <tr>
      <th>Deskripsi</th>
    </tr>
    <tr>
      <td>{{x.desc_kegiatan}}</td>
    </tr>     
    <tr>
      <th>Peserta</th>
    </tr> 
    {% for y in peserta %}
      {% if y.kegiatan == x %} 
    <tr>
      <td>{{y.nama_peserta}}</td>
    </tr>
    {% endif %}
      {% endfor %}
  </table>

  <div class="row">
    <div class="col text-center">
          <a class="btn btn-outline-success btn-block" href="{% url 'main:addPeserta' x.id %}">Add Peserta</a>
    </div>
  </div>
{% endfor %}
</div>

{% endblock content %}
